<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/public/style/p9/p9base100801.css">
  <link rel="stylesheet" href="/public/style/p9/p9icon111001.css">
  <link rel="stylesheet" href="/public/style/p9/layer111201.css">
  <link rel="stylesheet" href="/public/style/custom.css">
  <link rel="stylesheet" href="/public/style/code.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="Shortcut Icon" href="/public/src/keyaki.png">
  <script src="/public/script/jquery-3.4.1.min.js"></script>
  <!-- Mermaid flowchart support -->
  <script src="/public/script/mermaid.min.js"></script>
  <script>
    var now = new Date;
    mermaid.initialize({ startOnLoad: true, theme: 'neutral' });
    $(function () {
      let elements = document.getElementsByClassName("language-mermaid");
      for (let i = elements.length - 1; i >= 0; --i) {
        let element = elements[i];
        let graph_def = element.innerText;
        if (graph_def) {
          mermaid.render('ha_mermaid_' + i, graph_def, function (svg_code) {
            let container = document.createElement('div');
            container.innerHTML = svg_code;
            container.setAttribute('class', 'mermaid');
            container.setAttribute('data-processed', 'true');

            let parent = element.parentNode;
            parent.parentNode.replaceChild(container, parent);
          });
        }
      }
    });
  </script>
  <!-- MathJax math support -->
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <title>{{ page.title }}</title>
</head>