<!DOCTYPE html>
<html>

{% include core/head.html %}

<body class="bg">

  <!-- 回到顶部按钮 -->
  <div class="to_top" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');">
    <div class="arrow"></div>
    <div class="stick"></div>
  </div>

  <!-- 头部 -->
  <!-- <div class="header">
    <div class="inner">
      <a href="/" class="mylogo"></a>
      <ul id="pcmenu" class="ml64">
        <li><a href="/">首页</a></li>
      </ul>
    </div>
  </div> -->

  <!-- Showbar，需要在实际页面中手动开启 -->
  {% if page.showbar %}
  <div class="showbar">
    <div class="inner">
      {% for item in site.psn-games %}
      {% unless item.hide %}
      <a href="{{ item.url }}"><img src="{{ item.image }}" alt="{{ item.alt }}" title="{{ item.alt }}"></a>
      {% endunless %}
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <!-- 中间部分 -->
  <div class="inner mt40">
    <!-- 正文 -->
    <div class="main">
      <div class="box">{{ content }}</div>
    </div>
    <!-- 侧边栏 -->
    {% include core/sidebar.html %}
  </div>

</body>

</html>