<!DOCTYPE html>
<html>
　<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ "/stylesheets/p9/p9base.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/stylesheets/p9/p9layer.css" | prepend: site.baseurl }}" id="layui_layer_p9layercss">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pw-custom.css">
    <link rel="Shortcut Icon" href="{{ site.baseurl }}/src/icon.png">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>
