---
layout: default
---

<div class="header">
<div class="inner">
<a href="{{ site.baseurl }}/" class="pwlogo"></a>
<ul id="pcmenu" class="ml64">
<!--<li><a href="XXX">XXX</a></li>-->
</ul>
</div>
</div>

<!-- Read showbar data -->
{% if page.showbar != false %}
<div class="showbar">
<div class="inner">
{% for item in site.psn-games %}
{% unless item.hide %}
<a href="{{ site.baseurl }}{{ item.url }}"><img src="{{ item.image }}" alt="{{ item.alt }}" title="{{ item.alt }}"></a>
{% endunless %}
{% endfor %}
</div>
</div>
{% endif %}

<div class="inner mt20">
<div class="main">
    <div class="box">
        <div class="pd10">
            <h1>{{ page.title }}</h1>
            {% if page.date %}
            <div class="meta"><span>创建日期{{ page.date | date: "%Y-%m-%d %H:%M" }}</span></div>
            <div class="meta"><span>最后修改{{ page.mdate | date: "%Y-%m-%d %H:%M" }}</span></div>
            {% endif %}
        </div>
        <div class="content pd10">
            {{ content }}
        </div>
    </div>
</div>
<div class="side">
    {% if site.sidebar-about-description %}
    <p class="hd3">{{site.sidebar-about-description}}</p>
    {% endif %}
    <!-- SNS Link -->
    <ul class="darklist pd10">
    <li>
        <a target="_blank" href="https://my.playstation.com/profile/PW__1316"><i class="fab fa-playstation fa-3x"></i></a>
        <a target="_blank" href="https://github.com/pw1316"><i class="fab fa-github fa-3x"></i></a>
    </li>
    </ul>
    {% if site.email %}
    <p class="hd3">{{site.email}}</p>
    {% endif %}
</div>
</div>

<div class="footer">
<div class="inner">
<label class="footinfo">有人@<a href="https://github.com/pw1316">我</a></label>
<label class="footinfo">样式来源：<a href="https://psnine.com/">P9</a></label>
<label class="footinfo">CopyRight(C) Joker Yough 2016-2018</label>
<a href="https://www.easycounter.com/"><img src="https://www.easycounter.com/counter.php?pw1316" border="0" alt="Web Site Hit Counters"></a>
<br><a href="https://www.easycounter.com/">stats counter since 2018.11.08</a>
</div>
</div>
